/*****************CSS***************/
body {
  background-color: #21252B;
  color: white;
}
#form {
  background-color: #282C34;
}

 {
  background-color: white;
}
 button{
   border: 2px solid white;
   background: #706C73;
   color: white;
 }
